.puppies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5vh 10vh;
  max-width: 1200px;
  padding: 2.5rem;
}
.puppy-card {
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  padding-top: 30px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.puppy-card:hover {
  height:450px;
  box-shadow: 0 0 10px #89dceb;
}

.puppy-card_image-block {
  height: 240px;
  width: 240px;

}

.image-block_image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.placeholder {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.puppy-card-delete-button {
  width:220px;
  height: 30px;
  border: 1px solid #d20f39;
  border-radius: 10px;
  background-color: transparent;
  color:#d20f39
}
.puppy-card-delete-button:hover {
  background-color: #d20f39;
  color: white;
  cursor: pointer;
}

.puppy-card_info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input-area {
  width: 220px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #74c7ec;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: transparent;
  color:#74c7ec;
  text-align: center;
}

.puppy-card-add-button {
  width:220px;
  height: 30px;
  border: 1px solid #74c7ec;
  border-radius: 10px;
  background-color: transparent;
  color:#74c7ec;
  margin-top: 10px;
}
.puppy-card-add-button:hover {
  background-color: #74c7ec;
  color: white;
  cursor: pointer;
}